<%= form_for(@user, :html => {:id => 'edit_user', :class => 'edit_user'}) do |f| %>
  <h1>Edit User Details</h1>
  <%= f.label :username %>
  <%= f.text_field :username, { placeholder: "Username"} %> <br>
  <%= f.submit :Update %>
<% end %>
