 <h2>List of all posts</h2>
 <div>
    <%= link_to "Create new post", new_post_path %> <br><br>
 </div>

 <% @posts.each do |post| %>
   <%= link_to post.title, post_path(post.id) %> <br>
   <div id="post-body"><%= post.body %> <br></div>
 <% end %>

