// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  margin-left: 1%;
  margin-right: 1%;
  border: none;
}

.post {
  margin: 10px;
  padding: 12px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.7);
}

#content-layout {
  background: rgba(255, 255, 255, 0.7);
}

.list-post-title {
  padding: 10px 0 12px 0;
  position: relative;
  z-index: 9999;
}

.list-post-title a:active {
  color: rgb(46, 46, 0);
}
 
.list-post-title a:link {
  color: rgb(46, 46, 0);
}

.list-post-title a:hover {
  color: rgb(46, 46, 0);
}
 
.list-post-title a:visited {
  color: rgb(46, 46, 0);
}

.list-post-body {
  position: relative;
  z-index: 9999;
  padding: 10px 0 12px 0;
}

.list-post-attribution {
  font-size: 0.5em;
}

textarea {
  width: 850px;
  height: 180px;
}

#post-body {
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1%;
}

#post_title {
  width: 550px;
  margin-bottom: 10px;
  margin-left: 1%;
}
