// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-signin {
  max-width: 50%;
  min-width: 25%;
  border-width: 2px;
  border-color: #CCCCCC;
  border-style: solid;
  color: #222222;
  background-color: #f5f5f0;
  font-size: 12px;
  margin: 0px;
  background-color: #FFFFFF;
}

#form-signin label {
  color: #222222;
  font-size: 18px;
  display: block;
  margin-top: 15px;
}

#form-signin input[type=radio], input[type=checkbox] {
  margin: 10px;
  width: 13px;
}

#form-signin div {
  display: block;
}

#form-signin h1 {
  font-size: 45px;
  color: #607A75;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  border-bottom-style: dotted;
  border-bottom-color: #CCCCCC;
  border-bottom-width: 2px;
  border-radius: 0px;
  background-color: #FFFFFF;
}

#form-signin textarea {
  height: 250px;
  width: 100%;
}

#form-signin input[type=submit] {
  color: #ffffff;
  background: #6a9aba !important;
  margin-top: 10px !important;
}

#form-signin field {
  margin-bottom: 8px;
}

.custom_button {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #6a9aba;
  padding: 8px 14px 9px 14px;
  border: solid #1f628d 0px;
}

.custom_button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

#button1 {
  margin-top: 10px;
  margin-bottom: 5px;
  float: left;
}

#button2 {
  margin-top: 10px;
  margin-bottom: 5px;
  float: right;
}

#button1 a,  #button2 a {
  text-decoration: none;
}

form#new_user { 
  max-width: 50%; 
  min-width: 25%; 
  border-width: 2px; 
  border-color: #CCCCCC; 
  border-radius: 4px; 
  border-style: solid; 
  color: #222222; 
  background-color: rgb(245, 245, 240);
  font-size: 14px; 
  margin: 0px; 
  background-color: #FFFFFF; 
  padding: 20px; 
} 

form#new_user label{ 
  color: #222222; 
  font-size: 18px; 
  display: block; 
  margin-top: 15px;
} 

form#new_user input[type=radio], input[type=checkbox]{ 
  margin: 10px; 
  width: 13px; 
} 

form#new_user div{ 
  display: block; 
} 

form#new_user input, form textarea, form select{ 
  border-width: 1px; 
  border-style: solid; 
  border-color: #666666; 
  border-radius: 2px; 
  padding: 7px; 
  width: 100%; 
  font-size: 14px;
} 

form#new_user h1{ 
  font-size: 45px; 
  color: #607A75; 
  padding: 0px; 
  margin: 0px; 
  margin-bottom: 10px; 
  border-bottom-style: dotted; 
  border-bottom-color: #CCCCCC; 
  border-bottom-width: 2px; 
  border-radius: 0px; 
  background-color: #FFFFFF;
}

form#new_user textarea {
  height: 250px;
  width: 100%;
}

form#new_user input[type=submit] {
  width: 100%;
  color: #ffffff;
  background: #6a9aba;
  margin-top: 10px;
  font-size: 16px;
}

form#new_user input[type=submit]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

form#new_user field {
  margin-bottom: 8px;
}

form#edit_user { 
  max-width: 50%; 
  min-width: 25%; 
  height: 70%;
  border-width: 2px; 
  border-color: #CCCCCC; 
  border-radius: 4px; 
  border-style: solid; 
  color: #222222; 
  background-color: rgb(245, 245, 240);
  font-size: 14px; 
  margin: 0px; 
  background-color: #FFFFFF; 
  padding: 20px; 
} 

form#edit_user label{ 
  color: #222222; 
  font-size: 18px; 
  display: block; 
  margin-top: 15px;
} 

form#edit_user input[type=radio], input[type=checkbox]{ 
  margin: 10px; 
  width: 13px; 
} 

form#edit_user div{ 
  display: block; 
} 

form#edit_user input, form textarea, form select{ 
  border-width: 1px; 
  border-style: solid; 
  border-color: #666666; 
  border-radius: 2px; 
  padding: 7px; 
  width: 100%; 
  font-size: 14px;
} 

form#edit_user h1{ 
  font-size: 45px; 
  color: #607A75; 
  padding: 0px; 
  margin: 0px; 
  margin-bottom: 10px; 
  border-bottom-style: dotted; 
  border-bottom-color: #CCCCCC; 
  border-bottom-width: 2px; 
  border-radius: 0px; 
  background-color: #FFFFFF;
}

form#edit_user textarea {
  height: 250px;
  width: 100%;
}

form#edit_user input[type=submit] {
  width: 100%;
  color: #ffffff;
  background: #6a9aba;
  margin-top: 10px;
  font-size: 16px;
}

form#edit_user input[type=submit]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

form#edit_user field {
  margin-bottom: 8px;
}

form#show_user { 
  max-width: 50%; 
  min-width: 25%; 
  border-width: 2px; 
  border-color: #CCCCCC; 
  border-radius: 4px; 
  border-style: solid; 
  color: #222222; 
  background-color: rgb(245, 245, 240);
  font-size: 14px; 
  margin: 0px; 
  background-color: #FFFFFF; 
  padding: 20px 20px 40px 20px; 
} 

form#show_user label{ 
  color: #222222; 
  font-size: 18px; 
  display: block; 
  margin-top: 15px;
} 

form#show_user input[type=radio], input[type=checkbox]{ 
  margin: 10px; 
  width: 13px; 
} 

form#show_user div{ 
  display: block; 
} 

form#show_user input, form textarea, form select{ 
  border-width: 1px; 
  border-style: solid; 
  border-color: #666666; 
  border-radius: 2px; 
  padding: 7px; 
  width: 100%; 
  font-size: 14px;
} 

form#show_user h1{ 
  font-size: 45px; 
  color: #607A75; 
  padding: 0px; 
  margin: 0px; 
  margin-bottom: 10px; 
  border-bottom-style: dotted; 
  border-bottom-color: #CCCCCC; 
  border-bottom-width: 2px; 
  border-radius: 0px; 
  background-color: #FFFFFF;
}

form#show_user textarea {
  height: 250px;
  width: 100%;
}

form#show_user input[type=submit] {
  width: 100%;
  color: #ffffff;
  background: #6a9aba;
  margin-top: 10px;
  font-size: 16px;
}

form#show_user input[type=submit]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

form#show_user field {
  margin-bottom: 8px;
}

