// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin {
  padding: 5px; 
}

form{ 
  max-width: 50%; 
  min-width: 25%; 
  border-width: 2px; 
  border-color: #CCCCCC; 
  border-radius: 4px; 
  border-style: solid; 
  color: #222222; 
  background-color: rgb(255, 245, 224);
  font-size: 12px; 
  margin: 0px; 
  padding: 20px; 
} 

form label{ 
  color: #222222; 
  font-size: 18px; 
  display: block; 
  margin-top: 15px;
} 

form input[type=radio], input[type=checkbox]{ 
  margin: 10px; 
  width: 13px; 
} 

form div{ 
  display: block; 
  background-color: rgb(255, 235, 194);
} 

form input, form textarea, form select{ 
  border-width: 1px; 
  border-style: solid; 
  border-color: #666666; 
  border-radius: 2px; 
  padding: 7px; 
  width: 100%; 
  font-size: 14px;
} 

form h1{ 
  font-size: 45px; 
  color: #607A75; 
  padding: 0px; 
  margin: 0px; 
  margin-bottom: 10px; 
  border-bottom-style: dotted; 
  border-bottom-color: #CCCCCC; 
  border-bottom-width: 2px; 
  border-radius: 0px; 
  background-color: #FFFFFF; 
} 

form textarea{ 
  height: 250px; 
  width: 100%; 
} 

form input[type=submit]{ 
  width: 100%; 
  background-color: #CCCCCC; 
  color: #222222; 
  margin-top: 10px;
  font-size: 14px;
} 

field{ 
  margin-bottom: 8px; 
} 

.form-signin {
  background-color: #FFFFFF; 
  color: red;
}

